body{
    background-color: #F9FAFF;
}
.main-container{
    width: 1300px;
    height: 3000px;
    box-sizing: border-box;
    margin: auto
}
.main-container_first{
    padding-bottom: 250px;
}
.header{
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 780px;
    
} 
.header__name{
    font-family: 'Comfortaa', sans-serif;
}
nav a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.upper-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
    color: #FDC435;
}
.title {
    width: 530px;
    height: 150px;
   font-family: 'Playfair Display', serif; 
   font-size: 64px;
   padding-bottom: 35px;
}
.main-content{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    width: 430px;
    padding-bottom: 30px;
}
.button{
    font-family: 'Roboto', sans-serif;
}
.main__image{
    width: 720px;
    height: 570px;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 550px;
    top: -20px;
}
.main-container_second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    
}
.title_second{
    color: #25282B;
font-size: 48px;
font-family: 'Playfair Display', serif; 
font-weight: 700;
line-height: 60px;
text-align: center;
}
.project_first{
    width: 1000px;
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;

}
.project_title{
color: #25282B;
font-size: 40px;
font-family: 'Playfair Display', serif; 
font-weight: 700;
line-height: 60px;
}
.project_pic{
    height: 530px;
    width: 500px;
    margin: 0;
}
.project_second{
    width: 1000px;
    display: inline-block;
    background-color: #fff;
}
.project_third{
    width: 1000px;
    display: inline-block;
    background-color: #fff;
}