body{
    background-color: #F9FAFF;
    background-image: url( 'image.png');
background-repeat: no-repeat;
background-position: top right;

}
.main-container{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.header{
    width: 100%;
    padding-top: 15px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 750px;
    
} 
.header__name{
    font-family: 'Comfortaa', sans-serif;
}
.button{
    padding-left: 15px;
}
nav a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}
.main-container_first{
    padding-bottom: 150px;
    margin-left: 50px;
}
.upper-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 700; 
    color: #FDC435;
}
.title {
    width: 530px;
    height: 150px;
   font-family: 'Playfair Display', serif; 
   font-size: 64px;
   padding-bottom: 35px;
}
.main-content{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    width: 430px;
    padding-bottom: 30px;

}

.button_projects{
background-color: #FDC435;
margin-right: 15px;
border: none;
padding: 8px 24px;
color: #25282B;
font-size: 18px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
border-radius: 8px;

}
.button_link{
background-color: #F9FAFF;
border-radius: 8px;
padding: 8px 24px;
color: #25282B;
border: #25282B 2px solid;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 18px;

}
.main-container_second{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    
}
.project_title{
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 4px; 
    display: inline-flex;
}
.title_second{
    color: #25282B;
font-size: 48px;
font-family: 'Playfair Display', serif; 
font-weight: 700;
text-align: center;
}
.line{  
    width: 100px;
    height: 4px; 
    background: #FDC435; 
    border-radius: 2px;
}
.project_first{
    width: 1000px;
    height: 530px;
    gap: 24px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 64px rgba(112, 144, 176, 0.10);
    box-sizing: border-box;

}
.first_info{
    width: 410px;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    padding: 145px 145px 40px 50px;
    gap: 25px;

}
.project_title{
color: #25282B;
font-size: 40px;
font-family: 'Playfair Display', serif; 
font-weight: 700;
line-height: 60px;
}
.project_text{
    color: #828282;
font-size: 18px;
font-family: 'Nunito', sans-serif;
font-weight: 400;
line-height: 27px;
}
.project_pic{
    height: 530px;
    width: 500px;
    margin: 0;
    display: flex;
    align-items: end;
    border-radius: 0 20px 20px 0;
}

.project_button{
    border: 1px #25282B solid;
    width: auto;
    color: #25282B; 
    background-color: #fff;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    padding: 10px 25px; 
    border-radius: 24px; 
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.project_second{
    width: 1000px;
    height: 530px;
    gap: 24px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 64px rgba(112, 144, 176, 0.10);
    box-sizing: border-box;

}
.project_pic_sec{
    height: 530px;
    width: 500px;
    margin: 0; 
    display: flex;
    align-items: start;
    border-radius: 20px 0 0 20px;
    

}
.second_info{
    width: 410px;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    padding: 145px 30px 145px 30px;
    gap: 25px;
}
.project_third{
    width: 1000px;
    height: 530px;
    gap: 24px;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 6px 64px rgba(112, 144, 176, 0.10);
    box-sizing: border-box;
}
.third_info{
    width: 410px;
    gap: 25px;
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    padding: 145px 145px 40px 50px;
}
.social{
    gap: 25px;
    width: 100px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.inst{
    width: 48px;
    height: 48px;
}
.in{
    width: 38px;
    height: 38px;
}
.mail{
    width: 42px;
    height: 42px;
}
.caption{
    color: #828282;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}